<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Courses App</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/">Home</a></li>
			<li><a href="/courses">Courses</a></li>
			<li><a href="/add">Add a course</a></li>
		</ul>
	</div>
</nav>